<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.likeit.web.controller.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/main</url-pattern>
        <url-pattern>/administration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminEntryPoint</servlet-name>
        <jsp-file>/WEB-INF/page/administration/entry_point.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminEntryPoint</servlet-name>
        <url-pattern>/administration/authorization</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UrlFilter</filter-name>
        <filter-class>com.likeit.web.controller.filter.PathFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UrlFilter</filter-name>
        <url-pattern>/administration</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/page/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/page/500.jsp</location>
    </error-page>

</web-app>