body {
    background: #e2e1e0;
}
form {
    display: inline;
}
.nav {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0 200px;
    width: 900px;
}
.logo {
    float: left;
}
.tab {
    float: right;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 900px;
}
.card-1 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.min-btn {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    background-color: #80cbc4;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
}
.topic {
    float: left;
    margin: 8px 0 0 8px;
    padding: 3px 8px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    background-color: #e2e1e0;
}
.text {
    float: left;
}